@import "styles/helpers.scss";

.infoBox {
  flex: 0.7;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.profileImage {
  min-width: 400px;
  flex: 0.3;
  border-radius: 15px;
  box-shadow: 0px 2px 9px 0px rgba(63, 63, 63, 0.2);
  background: url(../../img/background.png),
    linear-gradient(0deg, $background 55%, $mainColor);
  background-size: 250px 250px, cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    top: 25%;
    left: -50%;
    position: absolute;
    background-color: $input;
    border-radius: 50%;
    width: 200%;
    height: 350px;
    z-index: 1;
  }

  .image {
    z-index: 2;
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    opacity: 0;
    animation: show 0.5s ease-in-out 0.5s forwards;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }

  .information {
    position: absolute;
    bottom: 0;
    background-color: $input;
    width: 100%;
    height: 56%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @extend %f1;
    color: $monoChrome;

    .followBox {
      width: 100%;
      padding-bottom: 10%;
    }

    .nickName {
      margin: -30px 0 -50px;
      color: $lightgrey;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      width: 100%;
      padding: 0 55px;

      button:nth-child(1) {
        @extend %Btn;
        @extend %BtnC;
        // min-width: 170px;
        font-size: 16px;
        height: 40px;
        background: $mainColor;
        color: $background;
      }
      button:nth-child(2) {
        @extend %Btn;
        @extend %BtnO;
        // min-width: 170px;
        font-size: 16px;
        height: 40px;
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      img {
        width: 25px;
      }
    }

    .profession {
      margin: -30px 0 -10px;
      font-size: 16px;
      font-weight: 700;
    }

    h1 {
      text-transform: capitalize;
      text-align: center;
      color: $monoChrome;
      @extend %f2;
      font-weight: 700;
      font-size: 35px;
    }

    .followingBox {
      width: 100%;
      padding: 0 55px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .followingItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        min-width: 78px;

        span {
          font-weight: 700;
          @extend %f2;
        }
      }
      .followingBorder {
        height: 30px;
        width: 2px;
        background: $monoChrome;
        border-radius: 5px;
      }
    }
  }
}

.profileInfo {
  height: 35%;
  box-shadow: 0px 2px 9px 0px rgba(63, 63, 63, 0.2);
  background: $input;
  border-radius: 15px;
}

.profileBlog {
  height: calc(65% - 45px);
  box-shadow: 0px 2px 9px 0px rgba(63, 63, 63, 0.2);
  background: $input;
  border-radius: 15px;
}
