//------------- Variables --------------//

$black: var(--color1);
$white: var(--color2);
$pink: var(--color3);
$blue: var(--color4);
$grey: var(--color5);
$darkgrey: var(--color6);

$background: var(--background);
$mainColor: var(--mainColor);
$input: var(--input);
$monoChrome: var(--monoChrome);
$monoChromeReverse: var(--monoChromeReverse);
$mainMono: var(--mainMono);

$lightgrey: #757575;

//-------------- Mixins ---------------//

@mixin text($f, $lh) {
  font-size: $f;
  line-height: $lh;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1025px) {
    @content;
  }
}

@mixin noMobile {
  @media screen and (min-width: 426px) {
    @content;
  }
}

//-------------- Extends ---------------//

%Btn {
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  height: 60px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  @extend %f3;
  transition: all 0.3s;
}

%BtnC {
  background: $pink;
  border: none;
  color: $black;
  position: relative;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.7;
    transform: scale(0.97);
  }
}

%BtnO {
  background: transparent;
  border: 2px solid $mainColor;
  color: $mainColor;

  &:hover {
    box-shadow: 0px 0px 6px -2px $mainColor;
  }
  &:active {
    transform: scale(0.97);
  }
}

%BtnL {
  background: rgba(151, 151, 151, 0.1);
  border: 1px solid rgba(141, 141, 141, 0.15);
  color: $monoChrome;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    opacity: 0.7;
    transform: scale(0.97);
  }
}

%f1 {
  font-family: "Comfortaa", sans-serif;
}

%f2 {
  font-family: "Montserrat", sans-serif;
}

%f3 {
  font-family: "Orbitron", sans-serif;
}

%fontTitle {
  font-family: "Fredoka One";
}

//-------------- Animations ---------------//

@keyframes show {
  0% {
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes showBlur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 0 0.01rem rgba(73, 73, 73, 0.25);
  }
  100% {
    box-shadow: 0 0 0 0.15rem rgba(255, 255, 255, 0.25);
  }
}
