@import "styles/helpers.scss";

.userInfo {
  margin-top: 20px;
  min-width: 320px;
  height: 100%;
  padding: 5px;

  .user {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(44, 44, 44, 0.06);
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: $input;
    box-shadow: 0px 0px 6px -2px rgba(126, 126, 126, 0.274);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      opacity: 0.8;
      background-image: url(../../img/background.png),
        linear-gradient($mainColor, $input);
      background-size: 250px 250px, cover;
    }
  }

  .info {
    padding: 20px;
    text-align: center;

    h2 {
      text-transform: capitalize;
    }

    h2,
    p {
      color: $monoChrome;
    }

    p {
      margin: 20px 0 25px;
    }

    button {
      @extend %Btn;
      @extend %BtnL;
      font-size: 18px;
    }

    span {
      @extend %f1;
      font-size: 14px;
    }
  }

  .image {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top: 45px;
    width: 100px;
    height: 100px;
    padding: 2px;
    border: 3px solid $mainColor;
    border-radius: 25px;

    .follow:first-child {
      left: -89%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }

  .follow {
    position: absolute;
    top: calc(50% - 20px);
    text-align: center;
    color: $monoChrome;
    left: 127%;

    span {
      font-weight: 700;
      font-size: 18px;
    }
    p {
      font-size: 12px;
    }
  }
}

.recentActivity {
  margin-top: 25px;
  border-radius: 15px;
  min-width: 350px;
  height: calc(100vh - 50px);
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(44, 44, 44, 0.06);
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 5px;

  h2 {
    color: $monoChrome;
    @extend %f1;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
  }

  .recentActivityItem {
    background-color: $input;
    width: 100%;
    padding: 10px 20px;
    border-radius: 15px;
    color: $monoChrome;
    display: flex;
    align-items: center;
    box-shadow: 0px 1px 6px 1px rgba(126, 126, 126, 0.274);

    &.delete {
      animation: delete 0.4s ease-in-out forwards;
    }

    img,
    svg {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      color: $mainColor;
    }
  }
  .image {
    width: 70px;
    height: 70px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid $mainColor;
  }

  .box {
    margin-left: 20px;

    h3 {
      font-weight: 500;
      margin-bottom: 2px;
      text-transform: capitalize;
    }

    span {
      font-weight: 500;
      color: $lightgrey;
      font-size: 12px;
    }

    span.color {
      margin-left: 10px;
      color: $mainColor;
    }
  }

  .control {
    display: flex;
    gap: 10px;
    margin-top: 7px;

    button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover svg {
        color: $mainColor;
        border-color: $mainColor;
      }

      &:active {
        opacity: 0.7;
        transform: scale(0.9);
      }
    }

    svg {
      font-size: 14px;
      width: 14px;
      height: 14px;
      color: $lightgrey;
      border: 2px solid $lightgrey;
      border-radius: 50%;
      padding: 5px;
      transition: 0.3s;
    }
  }
}

.feed {
  flex: 1;
  padding: 10px;
  padding-top: 25px;
  width: 40%;
  max-width: 1080px;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .usersBarSlider {
    display: flex;
    height: 100px;
    padding: 0 15px;
    transition: 0.3s;

    h2 {
      text-align: center;
      font-size: 14px;
      text-transform: capitalize;
      color: $monoChrome;
      margin-top: 5px;
      font-weight: 500;
    }
  }

  .userBarItem {
    transition: 0.3s;
    min-width: 80px !important;
    width: 80px !important;
    height: 80px !important;
    margin: 0 auto;
    padding: 2px;
    border: 2px solid $lightgrey;
    border-radius: 22px;
    cursor: pointer;

    &.active {
      border-color: $mainColor;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }

  .createPost {
    margin-top: 30px;
    border-radius: 15px;
    padding: 20px;
    background: $input;
    border: 1px solid rgba(44, 44, 44, 0.06);
    box-shadow: 0px 0px 6px -3px rgba(126, 126, 126, 0.274);
  }

  .createPostBox {
    display: flex;
    align-items: center;
  }

  form {
    margin-left: 20px;
    width: 90%;
    position: relative;

    textarea {
      width: 100%;
      min-height: 55px;
      border-radius: 15px;
      outline: none;
      border: none;
      padding: 17px 120px 0 20px;
      @extend %f2;
      font-size: 14px;
      background: rgba(134, 134, 134, 0.2);
      color: $monoChrome;
      transition: 0.3s;
      resize: none;
      font-weight: 500;

      &::placeholder {
        color: $monoChrome;
        opacity: 0.5;
      }

      &:valid,
      &:focus {
        margin-top: 0;
        min-height: 75px;
        animation: shadowPulse 1.5s ease-in-out infinite alternate;

        ~ button {
          opacity: 1;
          filter: blur(0px);
          visibility: visible;
        }
        ~ label {
          opacity: 1;
          filter: blur(0px);
          visibility: visible;
        }
      }
    }

    input[type="file"] {
      display: none;
    }

    button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      position: absolute;
      right: 20px;
      top: 22px;
      padding-left: 4px;
      padding-top: 3px;
      cursor: pointer;
      background: $monoChromeReverse;
      opacity: 0;
      transition: 0.5s;
      filter: blur(5px);
      visibility: hidden;

      svg {
        font-size: 15px;
        color: $mainColor;
      }
    }

    label {
      border: none;
      position: absolute;
      right: 70px;
      top: 22px;
      cursor: pointer;
      opacity: 0;
      transition: 0.5s;
      filter: blur(5px);
      visibility: hidden;
      padding-left: 10px;
      padding-top: 9px;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: $monoChromeReverse;

      svg {
        font-size: 15px;
        color: $mainColor;
      }
    }
  }

  .postImage {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid $lightgrey;
    border-radius: 22px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }

  .postsBox {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .post {
    border-radius: 15px;
    background: $input;
    padding: 20px;
    border: 1px solid rgba(44, 44, 44, 0.06);
    box-shadow: 0px 0px 6px -3px rgba(126, 126, 126, 0.274);
  }

  .postInfo {
    margin-right: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;

    .name {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      font-size: 18.5px;
      color: $monoChrome;
      font-weight: 500;
      @extend %f2;

      span {
        margin-top: 3px;
        margin-left: 7px;
        font-size: 12px;
        color: $mainColor;
        text-transform: lowercase;
      }
    }

    .nickname {
      display: flex;
      align-items: center;
      text-transform: lowercase;
      font-size: 14px;
      color: $lightgrey;
      @extend %f1;

      img {
        margin-left: 7px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .postHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > svg {
      cursor: pointer;
      margin-bottom: auto;
      border-radius: 50%;
      padding: 5px;
      width: 20px;
      height: 20px;
      transition: 0.3s;

      &:hover {
        background: $background;
        color: $mainColor;
      }

      &:active {
        transform: scale(0.85);
      }
    }
  }
  .image {
    width: 55px;
    height: 55px;
    padding: 2px;
    border: 2px solid $lightgrey;
    border-radius: 22px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 18px;
    }

    svg {
      width: 100%;
      height: 100%;
      color: $mainColor;
    }
  }
  .postBody {
    margin-top: 20px;
  }

  .postText {
    margin-bottom: 20px;
    p {
      font-size: 16px;
      line-height: 125%;
      color: $monoChrome;
      @extend %f2;
    }
  }

  .postImages {
    width: 100%;

    img {
      border-radius: 15px;
      width: 100%;
    }
  }
  .controlPanel {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

    .icon {
      border-radius: 12px;
      background: rgba(119, 119, 119, 0.137);
      height: 35px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        background: rgba(163, 163, 163, 0.15);
      }

      &:active {
        transform: scale(0.9);
      }

      &.liked {
        background: rgb(192, 34, 34);

        span,
        svg {
          color: $white;
        }
      }

      span {
        margin-left: 6px;
        font-weight: 700;
        transition: 0.3s;
      }

      svg {
        font-size: 20px;
        height: 20px;
        width: 20px;
        transition: 0.3s;
      }
    }
  }
  .divider {
    background: $lightgrey;
    height: 1px;
    margin: 20px 0;
    opacity: 0.2;
  }

  .postComment {
    display: flex;
    align-items: center;

    textarea {
      &:valid,
      &:focus {
        min-height: 55px;
      }
    }

    label,
    button {
      top: 10px;
    }

    button {
      right: 15px;
    }

    label {
      right: 60px;
    }
  }
}

.scrollBar { 
  position: fixed;
  right: -30px;
  top: 0;
  width: 7px;
  height: 100vh;

  overflow-x:hidden;
  overflow-y: scroll;


  > div {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(114, 114, 114, 0.322);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }
}

@keyframes delete {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translate(100%, 0);
  }
}
